* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}


/*header and navigation style*/
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}

.nav-title {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;

}

nav li {
  list-style: none;
  margin-left: 50px;
}

.text-primary {
  color: #FD6E0A;
}

.btn-primary {
  color: #fff;
  font-weight: 700;
  height: 64px;
  border-radius: 5px;
  background-color: #FD6E0A;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
}

.header {
  background-color: #fff8f3;
  background-image: url(../Image/header_bg.png), url(../Image/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

/* Banner Styles */
.banner {
  display: flex;
  margin: 0 200px;
  align-content: center;

}

.banner-title {

  font-size: 85px;
  font-weight: 700;
  text-align: left;
}

.banner-sub-title {

  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}

.banner-describetion {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;

}

/* main section  */
.main {
  max-width: 1140px;
  margin: 0 auto ;
  height: 550px;


}

/* about section style */
 .about { 
  margin-top: 130px;
  background-color: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 50px;
  text-align: center;
}

.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about .info-title {
  font-size: 20px;
  color: #757575;
}
.info-description{
  font-weight: 700;
  font-size: 20px;
}
/* what i do style */
.what-i-do{
  margin-top: 130px;
}
.skill-container{
  display: flex ;
  gap: 24px;
  
}
.skill{
  background-color: #ffffff;
  box-shadow: 0px 6px 50px rgba(0,0,0,0.06) ;
  border-radius: 5px;
}
.skill-title{
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description{
color: #757575;
padding: 30px;
}
.section-title{
text-align: center;
margin-top: 130px;
}
/* resume style */
.title2{
  text-align: center;
   margin-top: 130px;
   font-weight: 700;
   font-size: 36px;
   margin-bottom: 130px;
   border-radius:5px;


}
.resume .sub-title{
  text-align: center;
}
.resume-content{
display: flex;
gap: 24px;
}
.resume-item{
  margin-top: 30px;
  margin-bottom: 30px;
}
.resume .title{
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
  }

.resume .sub-title {
color: #757575;
font-weight: 600;
font-size: 20px;
}
.resume .description {
  color: #757575;
}
.resume-btn{
  margin-top: 50px;
  
}
/* contact style */
.contact{
  display: flex;
  gap: 100px;
  background-color: #fff8f3;
  padding: 130 200;
}
.contact .section-title{
  text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding-left: 10px 30px;
}
